body {
    background-color: #313535;
    overflow-x: hidden;
    font-family: 'Syne Mono', monospace;
    font-size: 0.85rem;
}

h1 {
    color: gray;
}

p {
    color: white;

    margin: 0;
    padding: none;
}

.nav {
    font-size: 2rem;
}

.consolePane {
    border: 1px solid #00a8e0;
    border-radius: 1rem;
    height: 50rem;
    padding: 1rem;
    overflow-y: scroll;
}

.inputtag {
    color: white;
    margin-right: 5px;
}

.inputarea {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    outline: none;
    height: 30px;
    width: 63rem;
}
.prompt-username {
    color: #2cffb1;
}
.prompt-node {
    color: #00a8e0;
}