body {
    background-color: #313535;
    overflow-x: hidden;
}

h1 {
    color: gray;
}

p {
    color: white;
    font-size: small;
    margin: 0;
    padding: none;
}

.consolePane {
    border: 1px solid gray;
    height: 50rem;
    padding: 1rem;
    overflow-y: scroll;
}

.inputtag {
    color: white;
    margin-right: 5px;
    font-size: small;
}

.inputarea {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    outline: none;
    height: 30px;
    width: 63rem;
}